/* importing fonts from Google Font API */
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Sarabun:300,300i,400,700');

html {
    background: #356A88;
    overflow: auto;
    color: black;

    font-family: "Calibri Light";
    font-weight: 300;
    letter-spacing: 0.1em;
}

.grid{
    display: grid;
    align-items: center;
}

body {
    padding: 0px 12px 12px 12px;
    height: calc(100vh - 28px);

    grid-template-rows: 8vh;
}

.tooltip {
    position: absolute;
    display: inline-block;
    text-align: left;
    padding: 3px 10px 5px 10px;
    font: 12px sans-serif;
    background: rgba(255, 0, 0, 0.67);
    color: black;
    border-radius: 7px;
    pointer-events: none;
}

div#div_visuals{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;

    background-clip: content-box;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}

div#container_vis2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid h1{
    margin: 0px;
}

h1{
    font-size: 3em;
    color: white;
    letter-spacing: normal;
    padding-bottom: 0;
}

div[id^=title_vis] {
    font-weight: bold;
    padding-top: 15px;
    font-size: large;
}

.title_text {
    padding-top: 15px;
    display: inline;
}

button {
    display: inline;
    float: right;
    min-width: 10%;
}

.search_button
{
    margin-top: 2px;
}

div[id^=container_vis] {
    background: white;
    height: 100%;
    padding: 0px 15px;
    display: grid;
    grid-template-rows: 25px;
}

.svg_boxes {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.svg_boxes_expanded {
    width: 25%;
    height: 100%;
    display: inline;
    overflow: visible;
}

g > text {
    color: black;
}

.foreground path {
    fill: none;
    stroke: #5fa08f;
}

.background path {
    fill: none;
    stroke: #dfdfdf;
}

.axis text.axis_title {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    cursor: move;
}

.foreground path:hover{
    stroke:red;
    stroke-width: 2.5px;
    opacity: 0.5;
}

.pc_selected {
    stroke:blueviolet !important;
    stroke-width: 4px !important;
    opacity: 0.5 !important;
    z-index: -1;
    position: absolute;
}