html {
    /* background: #271E6F; */
    overflow: auto;
    font-family: sans-serif;
    font-weight: 300;
    color: white;
    letter-spacing: 0.1em;
}

p {
    font-family: 'Fjalla One', sans-serif;
}

body {
    background: #57EEDB;
    background-image: url('./assets/vault.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    padding-top: 10px;
}

#calculator {
    border: 2px solid #4E6584;
    display: block;
    margin: auto;
    width: 600px;
    height: 520px;
    margin-top: 100px;
    background: #4E6584;
    border-radius: 10px;
}

#keypad {
    padding-left: 10px;
    margin-top: 10px;
}

#display {
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    height: 70px;
    background: white;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
}

#display-old-text{
    text-align: right;
    margin-top: 10px;
    margin-right: 25px;
}

#display-text{
    text-align: right;
    margin-top: 10px;
    margin-right: 25px;
}

.buttonClass {
    width: 120px;
    height: 60px;
    margin: 10px;
    font-size: larger;
    background-color: white;
}

/* Small devices: tablets and phones */
@media only screen and (max-width : 768px) {
    body {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    #calculator {
        width: 100%;
        height: 550px;
        background-color: #4E6584;
    }

    #keypad {
        width: 100%;
        margin-right: 40px;
        padding-right: 20px;
    }

    .buttonClass {
        width: 96%;
        height: 60px;
        margin: 10px;
        font-size: larger;
    }

    #display {
        height: 100px;
    }
}